<!DOCTYPE html>
<html lang="en">

<head>
  <title>Donate.Id </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" ng-app="validationApp" ng-controller="mainController" >
    <div class="site-wrap" id="home-section">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      
      <div class="bg-primary py-3 top-bar shadow d-none d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left pl-0">
              <a href="Home.html" class=" pr-3 pl-0">Home</a>
              <a href="donasi.html" class="p-3">Events</a>
              <a href="jointteam.html" class="p-3">Become A Volunteer</a>
            </div>
            <div class="col-md-6 text-md-right">
              <a href="https://twitter.com" class="p-3"><span class="icon-twitter"></span></a>
              <a href="https://facebook.com" class="p-3"><span class="icon-facebook"></span></a>
            </div>
          </div>
        </div>
      </div>
      <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">
            

            <div class="site-logo">
              <a href="Home.html" class="text-white">Donate.ID</a>
            </div>


            <nav class="site-navigation text-left ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li class="active"><a href="Home.html" class="nav-link">Home</a></li>
                <li><a href="about.html" class="nav-link">About Us</a></li>
                <li><a href="causes.html" class="nav-link">Donation</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
                <li ><a href="jointteam.html" class="nav-link">Volunteer</a></li>
              </ul>
            </nav>
            <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>
          </div>
        </div>
      </header>




    <div class="owl-carousel-wrapper">
      <div class="box-92819">
        <h1 class="text-white mb-3">Join The Movement To Make Better World</h1>
        <p><a href="causes.html" class="btn btn-primary py-3 px-4 rounded-0">Donate Now</a></p>
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/medical-donation.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/orang-miskin.jpeg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/soklah-jelek.jpg');"></div>
        
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-success" style="background-image: url('images/terdampakcorona.jpeg');">
          <div class="text">
            <span class="meta">Livelihood</span>
            <h3 class="text-cursive text-white h1">Livelihood</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-danger" style="background-image: url('images/medCorona.jpeg');">
          <div class="text" >
            <span class="meta" >Health</span>
            <h3 class="text-cursive text-white h1">Natural Remedies</h3>
          </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('images/soklah-jelek.jpg');">
          <div class="text">
            <span class="meta">School</span>
            <h3 class="text-cursive text-white h1">New Class Rooms</h3>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Latest Causes</h2>
            </div>
          </div>
          <div class="col-md-8">
            <p>Penyebaran Covid-19 bergitu masif di Indonesia. Ratusan jiwa terdeteksi positif dan Ratusan jiwa telah meninggal dunia. Ayo #BersamaLawanCorona!</p>
          </div>
        </div>

        <div class="row" id="homedonate">          
        </div>
      </div>
    </div>

    <div class="bg-image overlay site-section" style="background-image: url('images/miskin.jpeg');">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-12">
            <div class="row mb-5">
              <div class="col-md-7">
                <div class="heading-20219">
                  <h2 class="title text-white mb-4 text-cursive">Why Choose Us</h2>
                  <p class="text-white">Karena Terdapat Transparansi Di Kami dan Kerja Ikhlas</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>1</span></div>
                  <div>
                    <h3>Terbuka</h3>
                    <p>Anda Dapat Memantau Dana Anda</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>2</span></div>
                  <div>
                    <h3>Pencairan Dengan Mudah</h3>
                    <p>Mari Bantu Mereka Untuk Hidup Tenang</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>3</span></div>
                  <div>
                    <h3>Terpercaya dalam Menyalurkan</h3>
                    <p>Karena Mereka Juga Butuh Dilindungi</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>4</span></div>
                  <div>
                    <h3>Diseleksi dengan Ketat</h3>
                    <p>Pembuatan dan permintan di seleksi</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="heading-20219 mb-5">
          <h2 class="title text-cursive">Latest Event</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="isiBlog.html" class="d-block mb-3"><img src="images/jembatan.jpg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">16</span>
                  <span class="text-white small">January 2020</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash; 11:30 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Indonesia</span>
                  </div>
                  <h3><a href="isiBlog.html">Ribuan Sungai Perlu DiHubungkan!!</a></h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3"><img src="images/orang-miskin.jpeg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">22</span>
                  <span class="text-white small">March 2020</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash; 11:30 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Indonesia</span>
                  </div>
                  <h3><a href="isiBlog.html">Menjadi Peduli Dikala Pandemi dan Krisis!</a></h3>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-image overlay-primary" style="background-image: url('images/medical-donation.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6">
            <img src="images/medical-donation.jpg" alt="Image" class="img-fluid shadow">
          </div>
          <div class="col-md-6">
            <div class="bg-white h-100 p-4 shadow">
              <h3 class="mb-4 text-cursive">Donate Now</h3>
              <form name="foundForm" ng-submit="submitForm(foundForm.$valid)" novalidate action="#">
                <div class="form-group row">
                  <div class="col-md-6 mb-4 mb-lg-0" ng-class="{ 'has-error' : foundForm.donasi.$invalid && !foundForm.donasi.$pristine }">
                    <label>Jumlah Donasi</label>
                    <input type="text" class="form-control" placeholder="Masukkan Jumlah Donasi" name="donasi" ng-model="found.donasi" ng-minlength="4" ng-maxlength="100" required>
                    <p ng-show="foundForm.donasi.$error.minlength" class="help-block">Minimal Donasi 1000.</p>
            <p ng-show="foundForm.donasi.$error.maxlength" class="help-block">Maximum Donate ThankYou!.</p>
                  </div>                
                </div>
  
                <div class="form-group row">
                  <div class="col-md-12" ng-class="{ 'has-error' : foundForm.donatur.$invalid && !foundForm.donatur.$pristine }">
                    <label><a href="jointteam.html"> Masuk Acount</a> atau Lengkapi data Dibawah ini</label>
                    <input type="text" class="form-control" placeholder="Nama Lengkap" name="donatur" ng-model="found.donatur" ng-minlength="4" ng-maxlength="100" required>
                    <p ng-show="foundForm.donatur.$error.minlength" class="help-block"> Name is too short.</p>
            <p ng-show="foundForm.donatur.$error.maxlength" class="help-block"> Name is too long.</p>
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-12" ng-class="{ 'has-error' : foundForm.donaturhp.$invalid && !foundForm.donaturhp.$pristine }">
                    <input type="text" class="form-control" placeholder="Nomor Ponsel" name="donaturhp" ng-model="found.donaturhp" ng-minlength="11" ng-maxlength="12" required>
                    <p ng-show="foundForm.donaturhp$error.minlength" class="help-block">Number Phone is too short.</p>
            <p ng-show="foundForm.donaturhp.$error.maxlength" class="help-block">Number Phone is too long.</p>
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-12">
                      <label for="cars">Choose a Origin of Funds</label>                
                      <select class="form-control" id="Funds" name="Funds">
                          <option value="Dana">DaNa</option>
                          <option value="Gopay">Gopay</option>
                          <option value="Dompet Duafa">Dompet Duafa</option>
                          <option value="Virtual Account BRI">Bank Account BRI</option>
                          <option value="Virtual Account BRI">Bank Account BCA</option>
                          <option value="Virtual Account BRI">Bank Account BNI</option>
                          <option value="Virtual Account BRI">Virtual Account BRI</option>
                          <option value="Virtual Account BRI">Virtual Account BCA</option>
                          <option value="Virtual Account BRI">Virtual Account BNI</option>                        
                      </select>                                            
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-12" >                    
                      <label>Sembunyikan nama Saya (Donasi Anonim) </label>
                      <label class="switch">
                          <input type="checkbox">
                          <div class="slider"></div>
                      </label>
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-6 mr-auto">
                    <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5 rounded-0" value="Lanjutkan Pembayaran">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings People</h2></div>
              <div class="ml-auto"><a href="donasi.html" class="btn btn-primary">Donate Now</a></div>
            </div>
        
      </div>
    </div>
    
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Merupakan Donasi Terbuka Untuk Membantu Orang Yang Paling Membutuhkan dengan Terbuka, Terpatau, Terpercaya
                  yang telah Bekerja sama dengan berbagai Instansi Sperti KemenSos, Dompet Duafa. </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2" onclick="window.alert('Terimakasih Telah Menambahkan Kami');">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> From Donate.id <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://google.com" target="_blank" >Aerunisa</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/JSONCommand.js"></script>
    <script src="js/main.js"></script>

    <script src="https://code.angularjs.org/1.2.6/angular.js"></script>
    <script>
      var validationApp = angular.module('validationApp', []);
      // create angular controller
      validationApp.controller('mainController', function ($scope) {
        // function to submit the form after all validation has occurred
        $scope.submitForm = function (isValid) {
          // check to make sure the form is completely valid
          if (isValid) {
            alert('Pendonasian Berhasil di Serahkan');
          }
                  else{
                  alert('Pleas Fill All Fields')
              }
        };
      });
    </script>

  </body>

</html>
