<!DOCTYPE html>
<html lang="en">

<head>
  <title>Donate.Id</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" ng-app="">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      
      
      
      <div class="bg-primary py-3 top-bar shadow d-none d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left pl-0">
              <a href="Home.html" class=" pr-3 pl-0">Home</a>
              <a href="#" class="p-3">Events</a>
              <a href="jointteam.html" class="p-3">Become A Volunteer</a>
            </div>
            <div class="col-md-6 text-md-right">
              <a href="https://twitter.com" class="p-3"><span class="icon-twitter"></span></a>
              <a href="https://facebook.com" class="p-3"><span class="icon-facebook"></span></a>
            </div>
          </div>
        </div>
      </div>
      <header class="site-navbar site-navbar-target bg-secondary shadow" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">
            

            <div class="site-logo">
              <a href="Home.html" class="text-white">Donate.Id</a>
            </div>


            <nav class="site-navigation text-left ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="Home.html" class="nav-link">Home</a></li>
                <li><a href="about.html" class="nav-link">About Us</a></li>
                <li><a href="causes.html" class="nav-link">Donation</a></li>
                <li class="active"><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
                <li ><a href="jointteam.html" class="nav-link">Volunteer</a></li>
              </ul>
            </nav>

            <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>
          </div>
        </div>
      </header>




   
    
    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('images/medCorona.jpeg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <span class="d-block mb-3 text-white" data-aos="fade-up">March 22, 2020 <span class="mx-2 text-primary">&bullet;</span> by Aerunisa</span>
                <h1 class="mb-4 text-cursive h1" data-aos="fade-up" data-aos-delay="100">Menjadi Tidak Egois Dikala Pandemi</h1>
                <p><a href="donasi.html" class="btn btn-primary py-3 px-4 rounded-0">Donate Now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mr-auto blog-content">
            <p class="lead">Pendemi Di Seluruh Dunia Meskipun Bukan Musuh Yang Tidak Kenal Tetapi Sudah Familiar.</p>
            <p>Banyak Penduduk yang sudah terbiasa dengan musuh tak "Tak terlihat" ini.</p>

            <blockquote><p>"Even the all-powerful Country has no control about the Invisible Enemy it is an almost broke life One Future however a small help From You Can Exterminate Them."</p></blockquote>

            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>

            <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, 
              chronic respiratory disease, and cancer are more likely to develop serious illness.</p>

            <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. </p>

            <blockquote><p>"Start From Us to Protect World"</p></blockquote>

            <p>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).</p>
            
            <p>At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.</p>


            <div class="pt-5">
              <p>Categories:  <a href="#">Corona</a>, <a href="#">Health</a>  Tags: <a href="#">#humanity</a>, <a href="#">#StrongTogether</a></p>
            </div>

            <div class="pt-5">
              <div id="Fundaiser_container">
                <div id="flip">Click to Show Activity Fundaiser in This Case</div>
                <!-- image panel starts-->
                <div id="panel">
                  <ul class="comment-list" id="isiLI">                                    

                  </ul>    
                    <button id="btn">Click to Close Panel!</button>
                </div>
                <!-- image panel ends-->
                </div>
            </div>

            <div class="pt-5" ng-controller="ComenController">
              <h3 class="mb-5">Comments</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/Aeru.jpeg" alt="Profile">
                  </div>
                  <div class="comment-body">
                    <h3>Aerunisa</h3>
                    <div class="meta">March 26, 2020 at 2:21pm</div>
                    <p>When The Pandemic Gone We Still Need To Alert</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/phopic.jpeg" alt="Profile">
                  </div>
                  <div class="comment-body">
                    <h3>Sovia</h3>
                    <div class="meta">March 26, 2020 at 2:21pm</div>
                    <p>But do we have to?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img src="images/thalia.jpeg" alt="Profile">
                      </div>
                      <div class="comment-body">
                        <h3>Maharani</h3>
                        <div class="meta">March 26, 2020 at 2:30pm</div>
                        <p>Far far away, behind the word still need The Action</p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>


                      <ul class="children">
                        <li class="comment">
                          <div class="vcard bio">
                            <img src="images/kemensos.jpg" alt="Profile">
                          </div>
                          <div class="comment-body">
                            <h3>Kemensos</h3>
                            <div class="meta">March 27, 2020 at 3:30pm</div>
                            <p>Check Our Post To You That Need Supply.</p>
                            <p><a href="#" class="reply">Reply</a></p>
                          </div>

                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="images/support.png" alt="Profile">
                                </div>
                                <div class="comment-body">
                                  <h3>Support Center</h3>
                                  <div class="meta">March 27, 2018 at 3:33pm</div>
                                  <p>Check Our Blog that info about The Patien and Zone for Protect You</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/Aeru.jpeg" alt="aeruchantikk">
                  </div>
                  <div class="comment-body">
                    <h3>Aerunisa</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>Even the all-powerful Pointing has no control But We Together We Strong!!</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="images/support.png" alt="aeruchantikk">
                  </div>
                  <div class="comment-body">
                    <h3>Aerunisa</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    <p class="done-{{ todo.done }}">{{ todo.text }}</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form ng-submit="addComen()">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input ng-model="userText" type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>                
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea ng-model="todoText" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary btn-md text-white">
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-4 sidebar">            
            <div class="sidebar-box">
              <div class="categories">
                <h3>Categories</h3>
                <li><a href="#">Nature <span>(12)</span></a></li>
                <li><a href="#">Kids <span>(22)</span></a></li>
                <li><a href="#">Building <span>(37)</span></a></li>
                <li><a href="#">Health <span>(42)</span></a></li>
                <li><a href="#">Livehood <span>(14)</span></a></li>
              </div>
            </div>
            <div class="sidebar-box">
              <img src="images/logodonate.png" alt="Logo Company dari donate.id" class="img-fluid mb-4 w-50 rounded-circle">
              <h3 class="text-black">About The Fundaiser</h3>
              <p>Created For Helping People and Have a Happy Smile With Them.</p>
              <p><a href="#" class="btn btn-primary btn-md text-white">Read More</a></p>
            </div>

            <div class="sidebar-box">
              <h3 class="text-black">Gratitude</h3>
              <p>Thank you very much to those who still care about Humanity, Ocean, Animals, and Earth. Without you, We Will Not be Able to create a better World.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Merupakan Donasi Terbuka Untuk Membantu Orang Yang Paling Membutuhkan dengan Terbuka, Terpatau, Terpercaya
                  yang telah Bekerja sama dengan berbagai Instansi Sperti KemenSos, Dompet Duafa. </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2" onclick="window.alert('Terimakasih Telah Menambahkan Kami');">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> From Donate.id <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://google.com" target="_blank" >Aerunisa</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/JSONCommand.js"></script>
    <script src="js/ScriptComent.js"></script>
    <script src="js/angular.min.js"></script>
    

    <script src="js/main.js"></script>

    <script src="js/ScriptFile.js"></script>
  </body>

</html>
